body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.video-actions {
    margin-bottom: 10px;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    padding: 8px 15px;
}

.navbar-button {
    padding-top: 7.5px;
}

.btn {
    font-weight: bold;
}